// bower:scss
// endbower

body {
  padding: 0px;
  margin: 0px;
  font-family: futura;
}

.icon {
  color: white;
}


p {
  color: white;
}

h1 {
  color: white;
}
  
h2 {
  color: #43BCF0;
}

h3 {
  color: #43BCF0;
  /* text-shadow: black 0 2px; */
}

a {
  color: #43BCF0;
}

.button {
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 2px solid white;
  padding: 3px 5px;
}

.button:hover {
  color: #43BCF0;
  border: 2px solid #43BCF0;
}

.linkButton:hover {
  text-decoration: none;
  cursor: pointer;
  margin-top: 3px;
}

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin:0px;
  padding: 0px;

  img {
    min-width: 100%;
    min-height: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
}

.header{
  background-color: white;
}

.logo {
  width: 10%;
  height: 10%;
}

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}

.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}

.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}

.container {
  width: 75%;
}

.header {

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/*List of events on event page */

h2 {
  text-align: center;
}

.eventHeading {
  font-size: 6em;
}

.eventSearch {
  text-align: center;
}

.eventContainer {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 300px;
  overflow: auto;
  padding-top: 5px;
  padding-left: 0px;

  .eventLists {
    list-style-type: none;
    margin: 20px 5px;
  }

  .eventLists:first-child {
    margin-top: 5px;
  }

  .eventIcon {
    color: white;
    width: 7%;
  }

  .eventDescription {
    color: white;
    margin: 0px;

    h1 {
      font-size: 17px;
      margin: 0px;
    }
  }

  .eventItem {
    color: white;
    margin: 5px 0px;
    font-size: 13px;
    margin: 0px;
  }

  .eventDate {
    margin-top: 5px;
    font-size: 14px;
    color: #43BCF0;
    margin: 0px;
    width: 25%;
  }

  .eventUser {
    font-size: 15px;
    color: white;
    margin: 0px;
  }

  .eventButton {
    color: white;
    margin: 0px;
  }
}

/* Profile Page */

.addEventContainer {
  text-align: center;
}

.addButton {
  margin-top: 20px;
  margin-left: 10px;
}

.addForm {
  text-align: center;
  border-radius: 10px;
  padding: 20px;

  input, select {
    display: block;
    margin: 10px 10px;
    width: 40%;
  }
}



.input-group-btn {
  padding: 0px;
}

.profileEvents {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 10px;
  padding: 10px 0px;
  overflow: auto;
}

.userEvent {
  text-align: center;
  width: 33.3%;
  min-height: 5%;
  display: inline-block;
  padding: 5px 20px;
}

.singleEvent {
  margin: 0 30%;
}


/* single event page styling */

.modal-dialog {
  width: 68%;
}

.modal-content {
  background-color: black;
  text-align: center;
}

.team1, .team2 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 200px;
  border-radius: 10px;
}

.versus {
  font-size: 8em;
}

.center {
  text-align: center;
}

.inGameContainer {
  margin: 20px;
}

.singleIcon {
  width: 10%;
}
.singleDescription {
  width: 30%;

  h1 {
    margin: 0px;
  }
}
.singleDate {
  width: 30%;

  h3 {
    margin: 0px;
  }
}
.singleLocation {
  width: 30%;

  h3 {
    margin: 0px;
  }
}

.iconContainer {
  margin-bottom: 3px;
  display: inline-block;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
