// bower:scss
// endbower

body {
  padding: 0px;
  margin: 0px;
  font-family: futura;
}

p {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: #43BCF0;
}

h3 {
  color: #43BCF0;
  /* text-shadow: black 0 2px; */
}

a {
  color: #43BCF0;
}

.button {
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 2px solid white;
  padding: 3px 5px;
}

.button:hover {
  color: #43BCF0;
  border: 2px solid #43BCF0;
}

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin:0px;
  padding: 0px;

  img {
    min-width: 100%;
    min-height: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
}

.header{
  background-color: white;
}

.logo {
  width: 10%;
  height: 10%;
}

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}

.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}

.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}

.container {
  width: 75%;
}

.header {

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/*List of events on event page */

h2 {
  text-align: center;
}

.eventHeading {
  font-size: 6em;
}

.eventSearch {
  text-align: center;
}

.eventContainer {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 300px;
  overflow: auto;

  .gameIcon {
    margin-right: 15px;

  }

  .eventLists {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-left: 5%;
  }

  .eventItem {
    color: white;
    margin: 5px 0px;
    font-size: 18px;
  }

  .eventDate {
    margin-top: 5px;
    font-size: 16px;
    color: #43BCF0;
  }
}

/* Add Event Page  */
.addEventContainer {

}

.addButton {
  margin-top: 20px;
  margin-left: 10px;
}

.addForm {
  text-align: center;
  border-radius: 10px;
  padding: 20px;

  input {
    display: block;
    margin: 10px;
  }
}

.profileEvents {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  padding: 10px 0px;
  overflow: auto;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
