// bower:scss
// endbower


body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('http://photos3.meetupstatic.com/photos/event/7/0/2/8/highres_126508712.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  width: 75%;
}

.header {

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/*List of events on event page */

h2 {
  text-align: center;
}

.eventSearch {
  text-align: center;
}

.eventContainer {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 300px;
  overflow: auto;

  .eventList {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-left: 5%;
  }

  .eventItem {
    color: white;
    margin: 5px 0px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
