
<div class="row-fluid">
  <div class="col-lg-4 col-md-4 col-sm-12 row">
    <div class="{{user.provider === 'password'? 'col-md-12' : 'col-md-12'}}">
      <h3>Profile</h3>

      <form role="form">
        <p class="form-group">
          <label>Account
          <br />{{profile.name}}
        </p>
      </form>

      <p>
        <button role="button" ng-click="logout()" class="btn btn-danger">Log Out</button>
      </p>
    </div>

    <div class="col-md-12" ng-show="{{user.provider === 'password'}}">
    <form role="form">
      <h3>Change Password</h3>

      <p class="form-group">
        <input placeholder="Old Password"type="password" ng-keypress="clear()" ng-model="oldpass" class="form-control" />
      </p>

      <p class="form-group">
        <input placeholder="New Password" type="password" ng-keypress="clear()" ng-model="newpass" class="form-control" />
      </p>

      <p class="form-group">
        <input placeholder="Confirm New Password" type="password" ng-keypress="clear()" ng-model="confirm" class="form-control" />
      </p>

      <button class="btn btn-primary" ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

      <p class="error" ng-show="err">{{err}}</p>
      <p class="good" ng-show="msg">{{msg}}</p>
    </form>
    </div>

    <div class="col-md-12" ng-show="{{user.provider === 'password'}}">
    <form>
      <h3>Change Email</h3>

      <p class="form-group">
        <input placeholder="New Email"type="text" ng-keypress="clear()" ng-model="newEmail" class="form-control" />
      </p>

      <p class="form-group">
        <input placeholder="Password" type="password" ng-keypress="clear()" ng-model="pass" class="form-control" />
      </p>

      <button class="btn btn-primary" ng-click="changeEmail(pass, newEmail)">update email</button>
    </form>
    </div>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-12 profileEvents">
    <a href="#/addEvent" class="btn btn-success addButton">Create Event</a>
  </div>
</div>
<p class="clearfix"></p>
<div ng-repeat="message in messages" class="alert alert-{{message.type}}">{{message.text}}</div>
