<div class="row-fluid">
  <div class="col-lg-4 col-md-4 col-sm-12 row">
    <div class="{{user.provider === 'password'? 'col-md-12' : 'col-md-12'}}">
      <h3>Profile</h3>

      <form role="form">
        <p class="form-group">
          <label>Account
          <br />{{profile.name}}
        </p>
      </form>

      <p>
        <button role="button" ng-click="logout()" class="button">Log Out</button>
      </p>
    </div>

    <div class="col-md-12" ng-show="{{user.provider === 'password'}}">
    <form role="form">
      <h3>Change Password</h3>

      <p class="form-group">
        <input placeholder="Old Password"type="password" ng-keypress="clear()" ng-model="oldpass" class="form-control" />
      </p>

      <p class="form-group">
        <input placeholder="New Password" type="password" ng-keypress="clear()" ng-model="newpass" class="form-control" />
      </p>

      <p class="form-group">
        <input placeholder="Confirm New Password" type="password" ng-keypress="clear()" ng-model="confirm" class="form-control" />
      </p>

      <button class="button" ng-click="changePassword(oldpass, newpass, confirm)">Change Password</button>

      <p class="error" ng-show="err">{{err}}</p>
      <p class="good" ng-show="msg">{{msg}}</p>
    </form>
    </div>

    <div class="col-md-12" ng-show="{{user.provider === 'password'}}">
    <form>
      <h3>Change Email</h3>

      <p class="form-group">
        <input placeholder="New Email"type="text" ng-keypress="clear()" ng-model="newEmail" class="form-control" />
      </p>

      <p class="form-group">
        <input placeholder="Password" type="password" ng-keypress="clear()" ng-model="pass" class="form-control" />
      </p>

      <button class="button" ng-click="changeEmail(pass, newEmail)">Update Email</button>
    </form>
    </div>
  </div>

  <!-- Add event section -->
  <div class="col-lg-8 col-md-8 col-sm-12 addEventContainer">
    <button ng-hide="create" ng-click="create=!create" class="button addButton">Create Event</button>
    <form ng-show="create" class="addForm form-group" ng-submit="addEvent(newEvent); newEvent = null;">

      <select class="form-control" ng-model="newEvent.icon" required>
        <option value="flaticon-basketball35">Basketball</option>
        <option value="flaticon-mountain24">Bike</option>
        <option value="flaticon-rugby98">Football</option>
        <option value="flaticon-man362">Frisbee</option>
        <option value="flaticon-running30">Run</option>
        <option value="flaticon-soccer43">Soccer</option>
        <option value="flaticon-tennis18">Tennis</option>
        <option value="flaticon-weightlift">Weightlifting</option>
        <option value="flaticon-guru">Yoga</option>
      </select>

      <input class="form-control" placeholder="Game Description" ng-model="newEvent.type" required>
      <input class="form-control" type="datetime-local" ng-model="newEvent.date" placeholder="When?" required>
      <input class="form-control" type="text" ng-model="newEvent.location" placeholder="Where?" required>
      <button class="button" type="submit" ng-click="create=!create">Add Event</button>
      <a class="button linkButton" ng-click="create=!create">Cancel</a>
    </form>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-12 row profileEvents">

<!--     if no events created yet...needs to be ng-ifed  -->
    <div class="userEvent" ng-show="profile.name === event.name" ng-repeat="event in events | reverse">
      <h3 class="eventTypeHeading">{{event.type}}</h3>
      <i class="{{event.icon}} icon"></i>
      <p>{{event.date | date:"EEE, MMM d, y' at' h:mm a"}}</p>
      <p>{{event.location}}</p>
  <!--   Might have to go to a separate page to edit event? -->
      <button class="button" ng-click="getEvent(event.$id)" data-toggle="modal" data-target="#myModal">Edit Event</button>
      <button class="button" ng-click="events.$remove(event)">Delete</button>
    </div>

  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <div class="row singleEvent">
          <form>
            <select class="form-control" ng-model="singleEvent.icon" required>
              <option value="flaticon-basketball35">Basketball</option>
              <option value="flaticon-mountain24">Bike</option>
              <option value="flaticon-rugby98">Football</option>
              <option value="flaticon-man362">Frisbee</option>
              <option value="flaticon-running30">Run</option>
              <option value="flaticon-soccer43">Soccer</option>
              <option value="flaticon-tennis18">Tennis</option>
              <option value="flaticon-weightlift">Weightlifting</option>
              <option value="flaticon-guru">Yoga</option>
            </select>

            <input class="form-control" placeholder="Game Description" ng-model="singleEvent.type">
            <input class="form-control" type="datetime-local" ng-model="singleEvent.date" placeholder="When?">
            <input class="form-control" type="text" ng-model="singleEvent.location" placeholder="Where?">
            <button class="button" ng-click="updateEvent(key, singleEvent)">Update</button>
          </form>

          <!-- <button class="button">Sign Up</button> -->

        </div>
      </div>
        <div class="modal-footer">

          <div class="row teamContainer" ng-show="singleEvent.icon === 'flaticon-basketball35' || singleEvent.icon === 'flaticon-rugby98' || singleEvent.icon === 'flaticon-soccer43' || singleEvent.icon ==='flaticon-basketball35' || singleEvent.icon === 'flaticon-man362'">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xsm-5 team1"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xsm-2 center">
              <button class="button randomize">Randomize</button>
              <h1 class="versus">V</h1>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xsm-5 team2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
