<div class="row addEventContainer">
  <div class="col-lg-4 ">
    <form class="addForm form-group">
      
      <input class="form-control" placeholder="Game Description" ng-model="newEvent.title">
      <input class="form-control" type="datetime-local" ng-model="newEvent.date" placeholder="When?">
      <input class="form-control" type="text" ng-model="newEvent.location" placeholder="Where?">
      <button class="btn btn-success" type="submit" ng-click="addEvent(newEvent);newEvent = null;">Add Event</button>
    </form>
  </div>
</div>
