<div class="row singleEvent">
  <h1>{{singleEvent.type}}<div class="iconContainer"><i class="{{singleEvent.icon}} icon"></i></div></h1>
  <h3>{{singleEvent.date | date:"MMM d, y' at' h:mm a"}}</h3>
  <h3>{{singleEvent.location}}</h3>
</div>

<div class="row inGameContainer">
  <div class="col-lg-4"></div>
  <div class="col-lg-4"></div>
  <div class="col-lg-4"></div>
</div>

<div class="row teamContainer">
  <div class="col-lg-5 team1"></div>
  <div class="col-lg-2 center">
    <button class="button randomize">Randomize</button>
    <h1 class="versus">V</h1>
  </div>
  <div class="col-lg-5 team2"></div>
</div>
