<h2 class="eventHeading">GAMES</h2>

<form class="form-inline form-group eventSearch">

  <select class="form-control" ng-model="search.icon">
    <option value="">All</option>
    <option value="flaticon-basketball35">Basketball</option>
    <option value="flaticon-mountain24">Bike</option>
    <option value="flaticon-rugby98">Football</option>
    <option value="flaticon-man362">Frisbee</option>
    <option value="flaticon-running30">Run</option>
    <option value="flaticon-soccer43">Soccer</option>
    <option value="flaticon-tennis18">Tennis</option>
    <option value="flaticon-weightlift">Weightlifting</option>
    <option value="flaticon-guru">Yoga</option>
    <option value="flaticon-sportive36">Other</option>
  </select>

  <input class="form-control searchType" type="text" ng-model="search.type" placeholder="Search Titles" >
  <input class="form-control searchDate" type="date" ng-model="search.date">
  <input class="form-control searchLocale" type="text" ng-model="search.location" placeholder="Search Locations">
</form>

<div class="eventContainer container">
  <div ng-class-even="'evenClass'" ng-repeat="event in events | filter:search:strict | reverse | oldGames">
    <div class="eventLists row">
      <div class="col-lg-2 col-md-2 col-sm-12 eventIcon"><i class="{{event.icon}} icon"></i></div>
      <div class="col-lg-2 col-md-2 col-sm-12 eventDescription"><h1>{{event.type}}</h1></div>
      <div class="col-lg-2 col-md-2 col-sm-12 eventDate">{{event.date | date:"MM/dd/yyyy"}} at {{ combine(event.date, event.time) | amDateFormat: 'h:mm a'}}</div>
      <div class="col-lg-2 col-md-2 col-sm-12 eventItem">{{event.location}}</div>
      <div class="col-lg-2 col-md-2 col-sm-12 eventUser">{{event.name}}</div>
      <div class="col-lg-2 col-md-2 col-sm-12 eventButton">
        <button ng-click="getEvent(event.$id)" data-toggle="modal" data-target="#myModal" class="button">View Game</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
    <div class="modal-body">
      <div class="row singleEvent">
        <div class="iconContainer"><i class="{{singleEvent.icon}} icon"></i></div>
        <h1>{{singleEvent.type}}</h1>
        <h3>{{singleEvent.date | date:"MMM d, y"}} at {{ combine(singleEvent.date, singleEvent.time) | amDateFormat: 'h:mm a'}}</h3>
        <h3>{{singleEvent.location}}</h3>
        <button class="button" ng-click="signUp(auth.user.email, singleEvent.$id)">Sign Up</button>
      </div>
    </div>
      <div class="modal-footer">
        <div class="row teamContainer" ng-show="singleEvent.icon === 'flaticon-basketball35' || singleEvent.icon === 'flaticon-rugby98' || singleEvent.icon === 'flaticon-soccer43' || singleEvent.icon ==='flaticon-basketball35' || singleEvent.icon === 'flaticon-man362'">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xsm-5 team1">
            <div ng-class-odd="'hide'" ng-repeat="player in singleEvent.players">
              <a href="mailto:{{player}}">{{player}}</a>
              <i ng-if="player == auth.user.email" class="fa fa-remove"></i>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xsm-2 center">

            <h1 class="versus">V</h1>
            <button class="button randomize">Randomize</button>

          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xsm-5 team2">
            <div ng-class-even="'hide'" ng-repeat="player in singleEvent.players">
              <a href="mailto:{{player}}">{{player}}</a>
              <i ng-if="player == auth.user.email" class="fa fa-remove"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
