<div class="row singleEvent">
  <div class="col-lg-3"><img src="" alt=""></div>
  <div class="col-lg-3"><h1>Description</h1></div>
  <div class="col-lg-3"><h3>Date: 1/2/3 at 9:30 am</h3></div>
  <div class="col-lg-3"><h3>location</h3></div>
</div>

<div class="row inGameContainer">
  <div class="col-lg-4"></div>
  <div class="col-lg-4"></div>
  <div class="col-lg-4"></div>
</div>

<div class="row teamContainer">
  <div class="col-lg-5 team1"></div>
  <div class="col-lg-2 center">
    <button class="button randomize">Randomize</button>
    <h1 class="versus">V</h1>
  </div>
  <div class="col-lg-5 team2"></div>
</div>
