<h2 class="eventHeading">GAMES</h2>

<form class="form-inline form-group eventSearch">
  <input class="form-control" type="text" ng-model="search.type" placeholder="Search Sports" >
  <input class="form-control" type="date" ng-model="search.date">
  <input class="form-control" type="text" ng-model="search.location" placeholder="Search Locations">
</form>

<div class="eventContainer container">
  <div ng-repeat="event in events | filter:search:strict | reverse">
    <div class="eventLists row">
      <div class="col-lg-1 col-md-1 col-sm-12 eventIcon"><i class="{{event.icon}} icon"></i></div>
      <div class="col-lg-2 col-md-2 col-sm-12 eventItem">{{event.type}}</div>
      <div class="col-lg-3 col-md-3 col-sm-12 eventDate">{{event.date | date:"EEE, MMM d, y' at' h:mm a"}}</div>
      <div class="col-lg-2 col-md-2 col-sm-12 eventItem">{{event.location}}</div>
      <div class="col-lg-2 col-md-2 col-sm-12 eventItem">{{event.name}}</div>
      <div class="col-lg-2 col-md-2 col-sm-12"><a class="button" href="#/game">View Game</a></div>
    </div>
  </div>
</div>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
